@import "./constant";
@import "./side-menu";
@import "./main-body";
@import "./profile-section";

html {
    overflow-x: hidden;

    .banner-background {
        background: linear-gradient(
            84.47deg,
            rgba(19, 134, 218, 0.1) -6.65%,
            rgba(180, 88, 199, 0.1) 31.91%,
            rgba(19, 134, 218, 0.1) 65.79%,
            rgba(180, 88, 199, 0.1) 105.52%
        );
        .landing-page-menu {
            @media (max-width: 1030px) {
                display: none;
            }
        }
        .vschool-contain {
            .big-caption {
                font-size: 72px;
                font-weight: 700;
            }
            .small-caption {
                font-size: 24px;
            }
        }

        .index-nav {
            margin-left: 40vh;

            ul {
                li {
                    a {
                        font-weight: 600;
                        color: black !important;
                    }
                    .active {
                        color: $primaryColor !important;
                    }
                }
            }
        }
    }
    .vschool-contain {
        max-width: 1300px;
    }
    .vschool-contain-small {
        max-width: 900px;
    }

    .portal-info {
    }

    // Caption Image
    .cap-image {
        height: 100%;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
}
.topic {
    font-size: 24px;
    font-weight: 600;
}
.text {
}
.small-topic {
    font-size: 18px;
}

.big-topic {
    font-size: 48px;
    font-weight: 700;
}
.cap-image {
    .image {
        width: 100%;
        overflow: hidden;
        @media (max-width: 800px) {
            width: 40%;
        }
        @media (max-width: 500px) {
            width: 60%;
        }
        img {
            width: 100%;
        }
    }
}
.vschool-logo {
    width: 80px;
    height: 80px;
    overflow: hidden;

    img {
        width: 100%;
        mix-blend-mode: multiply;
    }
}


