@import "./constant";

html {
    overflow-x: hidden;

    body {
        background: linear-gradient(138.12deg, #b458c7 0%, #1386da 98.36%);
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
        .login-contain {
            max-width: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .the-form {
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 20px 40px 50px rgba(0, 0, 0, 0.2);
                label {
                    font-weight: 600;
                }
                input {
                    box-shadow: none !important;
                    outline: none;
                    &:active {
                        outline: none;
                    }
                }
            }
        }
    }
}
