* {
  font-family: "Poppins", sans-serif;
}

.background-primary {
  background-color: #1386da !important;
  color: white;
}

.background-secondary {
  background-color: #b458c7 !important;
  color: white;
}

.background-tertiary {
  background-color: #f4f4f4 !important;
  color: white;
}

.stroke-primary {
  border: 1px #1386da solid !important;
  color: #1386da;
}

.stroke-secondary {
  border: 1px #b458c7 solid !important;
  color: #b458c7;
}

.stroke-tertiary {
  border: 1px #686868 solid !important;
  color: #686868;
}

.primary-text-clr {
  color: #1386da !important;
}

.secondary-text-clr {
  color: #b458c7 !important;
}

.paragraph-text-clr {
  color: #686868 !important;
}

.vschool-primary-btn {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.vschool-primary-btn svg path {
  fill: white;
}

.vschool-primary-btn a {
  text-decoration: none;
  color: white;
}

.vschool-primary-btn:hover {
  background-color: #b458c7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vschool-primary-btn:hover a {
  color: white;
}

.vschool-secondary-btn {
  background-color: #b458c7;
  color: white;
  border: #b458c7;
  font-weight: 600;
}

.vschool-secondary-btn svg path {
  fill: white;
}

.vschool-secondary-btn a {
  text-decoration: none;
  color: white;
}

.vschool-secondary-btn:hover {
  background-color: #1386da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vschool-secondary-btn:hover a {
  color: white;
}

.vschool-primary-btn-outline {
  border: 1px #1386da solid !important;
  color: #1386da;
  background-color: transparent;
  font-weight: 600;
}

.vschool-primary-btn-outline svg path {
  fill: #1386da !important;
}

.vschool-primary-btn-outline a {
  text-decoration: none;
  color: #1386da;
}

.vschool-primary-btn-outline:hover {
  background-color: #1386da;
  color: white;
}

.vschool-primary-btn-outline:hover a {
  color: white;
}

.vschool-secondary-btn-outline {
  background-color: transparent;
  border: 1px #b458c7 solid !important;
  color: #b458c7;
  font-weight: 600;
}

.vschool-secondary-btn-outline svg path {
  fill: #b458c7 !important;
}

.vschool-secondary-btn-outline a {
  text-decoration: none;
  color: #b458c7;
}

.vschool-secondary-btn-outline:hover {
  background-color: #b458c7;
}

.vschool-secondary-btn-outline:hover a {
  color: white;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
}

.small-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.small-profile-image img {
  width: 100%;
}

.menu {
  background-color: transparent;
  border: none;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.menu a svg path {
  fill: #000;
}

.menu:hover {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
}

.menu:hover a {
  color: white;
}

.menu:hover a svg path {
  fill: white;
}

.info-topic {
  font-weight: 500;
  font-size: 18px;
}

.link-button {
  margin-bottom: 40px;
}

.link-button a {
  text-decoration: none;
  color: #1386da;
}

.link-button svg path {
  stroke: #1386da;
}

.link-button:hover a {
  color: #686868;
}

.link-button:hover svg path {
  stroke: #686868;
}

.vschool-nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1386da !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.background-primary {
  background-color: #1386da !important;
  color: white;
}

.background-secondary {
  background-color: #b458c7 !important;
  color: white;
}

.background-tertiary {
  background-color: #f4f4f4 !important;
  color: white;
}

.stroke-primary {
  border: 1px #1386da solid !important;
  color: #1386da;
}

.stroke-secondary {
  border: 1px #b458c7 solid !important;
  color: #b458c7;
}

.stroke-tertiary {
  border: 1px #686868 solid !important;
  color: #686868;
}

.primary-text-clr {
  color: #1386da !important;
}

.secondary-text-clr {
  color: #b458c7 !important;
}

.paragraph-text-clr {
  color: #686868 !important;
}

.vschool-primary-btn {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.vschool-primary-btn svg path {
  fill: white;
}

.vschool-primary-btn a {
  text-decoration: none;
  color: white;
}

.vschool-primary-btn:hover {
  background-color: #b458c7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vschool-primary-btn:hover a {
  color: white;
}

.vschool-secondary-btn {
  background-color: #b458c7;
  color: white;
  border: #b458c7;
  font-weight: 600;
}

.vschool-secondary-btn svg path {
  fill: white;
}

.vschool-secondary-btn a {
  text-decoration: none;
  color: white;
}

.vschool-secondary-btn:hover {
  background-color: #1386da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vschool-secondary-btn:hover a {
  color: white;
}

.vschool-primary-btn-outline {
  border: 1px #1386da solid !important;
  color: #1386da;
  background-color: transparent;
  font-weight: 600;
}

.vschool-primary-btn-outline svg path {
  fill: #1386da !important;
}

.vschool-primary-btn-outline a {
  text-decoration: none;
  color: #1386da;
}

.vschool-primary-btn-outline:hover {
  background-color: #1386da;
  color: white;
}

.vschool-primary-btn-outline:hover a {
  color: white;
}

.vschool-secondary-btn-outline {
  background-color: transparent;
  border: 1px #b458c7 solid !important;
  color: #b458c7;
  font-weight: 600;
}

.vschool-secondary-btn-outline svg path {
  fill: #b458c7 !important;
}

.vschool-secondary-btn-outline a {
  text-decoration: none;
  color: #b458c7;
}

.vschool-secondary-btn-outline:hover {
  background-color: #b458c7;
}

.vschool-secondary-btn-outline:hover a {
  color: white;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
}

.small-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.small-profile-image img {
  width: 100%;
}

.menu {
  background-color: transparent;
  border: none;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.menu a svg path {
  fill: #000;
}

.menu:hover {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
}

.menu:hover a {
  color: white;
}

.menu:hover a svg path {
  fill: white;
}

.info-topic {
  font-weight: 500;
  font-size: 18px;
}

.link-button {
  margin-bottom: 40px;
}

.link-button a {
  text-decoration: none;
  color: #1386da;
}

.link-button svg path {
  stroke: #1386da;
}

.link-button:hover a {
  color: #686868;
}

.link-button:hover svg path {
  stroke: #686868;
}

.vschool-nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1386da !important;
}

.calender {
  width: 100%;
  padding: 9px;
}

.calender .majorDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0 0 0;
}

.calender .majorDate .getdate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 23px;
  color: black;
  cursor: default;
}

.calender .majorDate .getdate p {
  font-size: 21px;
  font-weight: bold;
  padding: 3px;
  cursor: default;
}

.calender .majorDate .fas {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.calender .dateContainer {
  padding: 0 16px;
}

.calender .box {
  position: relative;
  width: calc(100%/7);
  height: 52px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  font-weight: 500;
  color: black;
}

.activeParent {
  color: white !important;
}

.calender .dateContainer .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calender .dateContainer .dayCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calender .dateContainer .dayCount span {
  z-index: 3;
}

.calender .active {
  color: white;
  background: #1386da;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.profile {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 93vh;
  border-radius: 20px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.profile::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1030px) {
  .profile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .profile {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 1400px) {
  .profile {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 30%;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .profile {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
    margin: auto;
  }
}

.profile .profile-details .image {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50px;
}

.profile .profile-details .image img {
  width: 100%;
}

.profile .school-snippet .title {
  font-size: 20px;
  font-weight: 700;
}

.profile .school-snippet .details {
  background: white;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.profile .school-snippet .details .serial-no-count {
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
  position: relative;
  border-radius: 10px;
}

.profile .school-snippet .details .serial-no-count p {
  position: relative;
  top: 25%;
}

.profile .school-snippet .details .main-text {
  font-weight: 700;
}

.profile .school-snippet .details .small-button {
  width: 50px;
  height: 50px;
  background-color: #1386da;
  position: relative;
  border-radius: 10px;
}

.profile .school-snippet .details .small-button a {
  color: white;
  text-decoration: none;
  position: relative;
  top: 25%;
}
/*# sourceMappingURL=profile-section.css.map */