* {
  font-family: "Poppins", sans-serif;
}

.background-primary {
  background-color: #1386da !important;
  color: white;
}

.background-secondary {
  background-color: #b458c7 !important;
  color: white;
}

.background-tertiary {
  background-color: #f4f4f4 !important;
  color: white;
}

.stroke-primary {
  border: 1px #1386da solid !important;
  color: #1386da;
}

.stroke-secondary {
  border: 1px #b458c7 solid !important;
  color: #b458c7;
}

.stroke-tertiary {
  border: 1px #686868 solid !important;
  color: #686868;
}

.primary-text-clr {
  color: #1386da !important;
}

.secondary-text-clr {
  color: #b458c7 !important;
}

.paragraph-text-clr {
  color: #686868 !important;
}

.vschool-primary-btn {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.vschool-primary-btn svg path {
  fill: white;
}

.vschool-primary-btn a {
  text-decoration: none;
  color: white;
}

.vschool-primary-btn:hover {
  background-color: #b458c7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vschool-primary-btn:hover a {
  color: white;
}

.vschool-secondary-btn {
  background-color: #b458c7;
  color: white;
  border: #b458c7;
  font-weight: 600;
}

.vschool-secondary-btn svg path {
  fill: white;
}

.vschool-secondary-btn a {
  text-decoration: none;
  color: white;
}

.vschool-secondary-btn:hover {
  background-color: #1386da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vschool-secondary-btn:hover a {
  color: white;
}

.vschool-primary-btn-outline {
  border: 1px #1386da solid !important;
  color: #1386da;
  background-color: transparent;
  font-weight: 600;
}

.vschool-primary-btn-outline svg path {
  fill: #1386da !important;
}

.vschool-primary-btn-outline a {
  text-decoration: none;
  color: #1386da;
}

.vschool-primary-btn-outline:hover {
  background-color: #1386da;
  color: white;
}

.vschool-primary-btn-outline:hover a {
  color: white;
}

.vschool-secondary-btn-outline {
  background-color: transparent;
  border: 1px #b458c7 solid !important;
  color: #b458c7;
  font-weight: 600;
}

.vschool-secondary-btn-outline svg path {
  fill: #b458c7 !important;
}

.vschool-secondary-btn-outline a {
  text-decoration: none;
  color: #b458c7;
}

.vschool-secondary-btn-outline:hover {
  background-color: #b458c7;
}

.vschool-secondary-btn-outline:hover a {
  color: white;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
}

.small-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.small-profile-image img {
  width: 100%;
}

.menu {
  background-color: transparent;
  border: none;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.menu a svg path {
  fill: #000;
}

.menu:hover {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
}

.menu:hover a {
  color: white;
}

.menu:hover a svg path {
  fill: white;
}

.info-topic {
  font-weight: 500;
  font-size: 18px;
}

.link-button {
  margin-bottom: 40px;
}

.link-button a {
  text-decoration: none;
  color: #1386da;
}

.link-button svg path {
  stroke: #1386da;
}

.link-button:hover a {
  color: #686868;
}

.link-button:hover svg path {
  stroke: #686868;
}

.vschool-nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1386da !important;
}

@media (min-width: 1030px) {
  .nav .mobile-nav {
    display: none;
  }
}

.nav .mobile-nav .top-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #1386da;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .nav .mobile-nav .top-nav .top-nav {
    padding-top: 15px;
  }
}

.nav .mobile-nav .top-nav a {
  padding: 32px 32px 50px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .nav .mobile-nav .top-nav a .top-nav a {
    font-size: 18px;
  }
}

.nav .mobile-nav .top-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav .mobile-nav .logo .image {
  width: 100%;
}

.nav .mobile-nav .logo .image img {
  width: 100%;
}

.nav .mobile-nav .profile-det {
  position: relative;
}

.nav .mobile-nav .profile-det .image {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50px;
  left: 71%;
  top: 35%;
  position: relative;
}

.nav .mobile-nav .profile-det .image img {
  width: 100%;
}

@media (max-width: 450px) {
  .nav .mobile-nav .profile-det .image {
    width: 36px;
    height: 36px;
    left: 31%;
    top: 35%;
  }
}

.nav .side-nav {
  position: fixed;
  width: 17%;
}

@media (max-width: 1030px) {
  .nav .side-nav {
    display: none;
  }
}

@media (min-width: 1900px) {
  .nav .side-nav {
    width: 15%;
  }
}

.nav .side-nav .logout {
  margin-top: 25vh;
}

.nav .side-nav .teacher-logout {
  margin-top: 30vh;
}

.nav .side-nav .superadmin-logout {
  margin-top: 30vh;
}

.nav .side-nav .student-logout {
  margin-top: 30vh;
}

.nav .side-nav .active,
.nav .side-nav .vschool-primary-btn {
  background-color: #1386da;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25);
}

.nav .side-nav .active a,
.nav .side-nav .vschool-primary-btn a {
  color: white;
}

.nav .side-nav .active a svg path,
.nav .side-nav .vschool-primary-btn a svg path {
  fill: white;
}

.vschool-logo {
  width: 80px;
  height: 70px;
  overflow: hidden;
}

.vschool-logo img {
  width: 90%;
}

@media (max-width: 800px) {
  .vschool-logo {
    width: 80px;
    height: 100px;
  }
}

.profile-det {
  position: relative;
}

.profile-det .image {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50px;
  left: 71%;
  top: 35%;
  position: relative;
}

.profile-det .image img {
  width: 100%;
}

@media (max-width: 450px) {
  .profile-det .image {
    width: 36px;
    height: 36px;
    left: 31%;
    top: 35%;
  }
}
/*# sourceMappingURL=side-menu.css.map */